.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/netcore.cleanarch/DesignTimeBuild/.dtbcache.v2
.vs/netcore.cleanarch/config/applicationhost.config
.vs/netcore.cleanarch/v16/.suo
bin/Debug/netcore.cleanarch.1.0.0.nupkg
bin/Debug/net5.0/netcore.cleanarch.deps.json
bin/Debug/net5.0/netcore.cleanarch.dll
bin/Debug/net5.0/netcore.cleanarch.exe
bin/Debug/net5.0/netcore.cleanarch.pdb
bin/Debug/net5.0/netcore.cleanarch.runtimeconfig.dev.json
bin/Debug/net5.0/netcore.cleanarch.runtimeconfig.json
bin/Debug/netcoreapp3.1/netcore.cleanarch.deps.json
bin/Debug/netcoreapp3.1/netcore.cleanarch.dll
bin/Debug/netcoreapp3.1/netcore.cleanarch.exe
bin/Debug/netcoreapp3.1/netcore.cleanarch.pdb
bin/Debug/netcoreapp3.1/netcore.cleanarch.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/netcore.cleanarch.runtimeconfig.json
bin/Debug/netcoreapp3.1/publish/netcore.cleanarch.deps.json
bin/Debug/netcoreapp3.1/publish/netcore.cleanarch.dll
bin/Debug/netcoreapp3.1/publish/netcore.cleanarch.exe
bin/Debug/netcoreapp3.1/publish/netcore.cleanarch.pdb
bin/Debug/netcoreapp3.1/publish/netcore.cleanarch.runtimeconfig.json
bin/Debug/netcoreapp3.1/publish/templatefiles/~SolutionPrefix~.sln.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.Application/~ProjectPrefix~.Application.csproj.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.Application/Repositories/IPostsRepository.cs.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.Application/Services/Posts/IPostsService.cs.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.Application/Services/Posts/PostsService.cs.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.Common/~ProjectPrefix~.Common.csproj.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.Common/Data/IUnitOfWork.cs.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.Domain/~ProjectPrefix~.Domain.csproj.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.Domain/Posts/Post.cs.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.Infrastructure/~ProjectPrefix~.Infrastructure.csproj.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.Infrastructure/UnitOfWork.cs.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.Infrastructure/Context/PostsContext.cs.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.Infrastructure/Entities/Post.cs.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.Infrastructure/Mapper/InfraMapping.cs.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.Infrastructure/Repositories/PostsRepository.cs.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.WebApi/~ProjectPrefix~.WebApi.csproj.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.WebApi/appsettings.Development.json.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.WebApi/appsettings.json.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.WebApi/MapperConfig.cs.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.WebApi/Program.cs.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.WebApi/RepositoriesConfig.cs.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.WebApi/ServicesConfig.cs.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.WebApi/Startup.cs.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.WebApi/Controllers/PostsController.cs.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.WebApi/DTOs/Posts/CreatePostDto.cs.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.WebApi/Mapper/ApiMapping.cs.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.WebApi/Properties/launchSettings.json.file
bin/Debug/netcoreapp3.1/publish/templatefiles/~ProjectPrefix~.WebApi/Utilities/WebApi/StatusCodeExtension.cs.file
bin/Debug/netcoreapp3.1/templatefiles/~SolutionPrefix~.sln.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.Application/~ProjectPrefix~.Application.csproj.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.Application/Repositories/IPostsRepository.cs.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.Application/Services/Posts/IPostsService.cs.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.Application/Services/Posts/PostsService.cs.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.Common/~ProjectPrefix~.Common.csproj.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.Common/Data/IUnitOfWork.cs.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.Domain/~ProjectPrefix~.Domain.csproj.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.Domain/Posts/Post.cs.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.Infrastructure/~ProjectPrefix~.Infrastructure.csproj.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.Infrastructure/UnitOfWork.cs.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.Infrastructure/Context/PostsContext.cs.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.Infrastructure/Entities/Post.cs.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.Infrastructure/Mapper/InfraMapping.cs.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.Infrastructure/Repositories/PostsRepository.cs.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.WebApi/~ProjectPrefix~.WebApi.csproj.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.WebApi/appsettings.Development.json.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.WebApi/appsettings.json.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.WebApi/MapperConfig.cs.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.WebApi/Program.cs.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.WebApi/RepositoriesConfig.cs.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.WebApi/ServicesConfig.cs.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.WebApi/Startup.cs.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.WebApi/Controllers/PostsController.cs.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.WebApi/DTOs/Posts/CreatePostDto.cs.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.WebApi/Mapper/ApiMapping.cs.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.WebApi/Properties/launchSettings.json.file
bin/Debug/netcoreapp3.1/templatefiles/~ProjectPrefix~.WebApi/Utilities/WebApi/StatusCodeExtension.cs.file
obj/DotnetToolSettings.xml
obj/netcore.cleanarch.csproj.nuget.dgspec.json
obj/netcore.cleanarch.csproj.nuget.g.props
obj/netcore.cleanarch.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcore.cleanarch.1.0.0.nuspec
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/netcore.cleanarch.AssemblyInfo.cs
obj/Debug/net5.0/netcore.cleanarch.AssemblyInfoInputs.cache
obj/Debug/net5.0/netcore.cleanarch.assets.cache
obj/Debug/net5.0/netcore.cleanarch.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/netcore.cleanarch.csproj.FileListAbsolute.txt
obj/Debug/net5.0/netcore.cleanarch.csprojAssemblyReference.cache
obj/Debug/net5.0/netcore.cleanarch.dll
obj/Debug/net5.0/netcore.cleanarch.exe
obj/Debug/net5.0/netcore.cleanarch.genruntimeconfig.cache
obj/Debug/net5.0/netcore.cleanarch.pdb
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/netcore.cleanarch.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/netcore.cleanarch.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/netcore.cleanarch.assets.cache
obj/Debug/netcoreapp3.1/netcore.cleanarch.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/netcore.cleanarch.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/netcore.cleanarch.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/netcore.cleanarch.dll
obj/Debug/netcoreapp3.1/netcore.cleanarch.exe
obj/Debug/netcoreapp3.1/netcore.cleanarch.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/netcore.cleanarch.pdb
obj/Debug/netcoreapp3.1/PublishOutputs.d3db5b8edf.txt
obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Release/netcoreapp3.1/netcore.cleanarch.AssemblyInfo.cs
obj/Release/netcoreapp3.1/netcore.cleanarch.AssemblyInfoInputs.cache
obj/Release/netcoreapp3.1/netcore.cleanarch.assets.cache
.vscode/settings.json
